:root{
    --primary: #a4adaa;
    --light: #EEEEEE;
    --dark: #212121;
}

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* font-family: 'Noto Sans Lepcha', sans-serif; */
    font-family: 'EB Garamond', serif;
    background-color: var(--primary)
}

h1 {
    font-family: 'Noto Serif SC', serif;
    font-size: 65px;
    color: var(--dark);
    margin: 0 auto;
    padding-top: 4%;
    padding-bottom: 10px;
    text-align: center;
}

h2{
    font-size: 30;
    color: var(--dark);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 51%;
    padding-right: 23%;
    text-align: left;
    line-height: 60px;
    position: fixed;
    top: 62%;
    bottom: 0;
    left: 0;
    right: 10px;
    width: 420px;
}

img{
    display: block;
    margin: 0 auto;
    scale: 80%;
    position: fixed;
    top: 16.3%;
    bottom: 0;
    left: 8%;
    right: 50%;
    width: 700px;
}

/* .wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wrapper3{
    width: 100px;
} */