:root{
    --primary: #a4adaa;
    --light: #fffff9;
    --dark: #212121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Noto Sans Lepcha', sans-serif; */
    font-family: 'EB Garamond', serif;
}

.hero{
    background-image: url('images/tianLine1.png');
    background-size:cover;
    background-position: center;
    height: 100vh;
}

.container{
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    /* background-color: var(--dark); */
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
    /* background-image: url('images/Tian_L1_R1.png');
    background-size:cover;
    background-position: center;
    height: 100vh; */
}

h1{
    color: var(--dark);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.hamburger{
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

}

.hamburger span{
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--dark);
    border-radius: 1px;
    z-index: 1;

    transform-origin: center;

    transition: 0.4s;
}

.hamburger:hover span:nth-child(1){
    transform: translateY(9px);
    background-color: var(--dark);
}

.hamburger:hover span:nth-child(2){
    transform: rotate(90deg);
    background-color: var(--dark);
}

.menu{
    font-size: 20px;
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a{
    color: var(--dark);
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 1px;
}

.menu a.is-active, .menu a:hover {
    background-color: var(--primary);
}

@media(min-width: 768px){
    .mobile-menu, .hamburger{
        display: none;
    }
    .menu{
        display: flex;
    }
}

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;

    padding-top: 6rem;
    opacity: 1;
    transform: translateY(-100%);
    background-color: var(--light);
    color: var(--primary);
    transition: 0.3s;
}

.mobile-menu.is-active{
    opacity: 1;
    transform: translateY(0);
}

.mobile-menu a {
    display: block;
    padding: 1rem;
    color: var(--dark);
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.3s;
}

.mobile-menu a:hover{
    background-color: var(--primary);
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin: 0 auto;
    height: 45vh;
    /* width: 23vw; */
    position: fixed;
    top: 26%;
    bottom: 0;
    left: 0;
    right: 20px;
    width: 420px;

    /* position: absolute;
    top: 215px;
    left: 589px;
    width: 320px;
    height: 320px; */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 15px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

/* h2 {
    font-size: 30;
    color: var(--dark);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
} */




